.user{
	width:110px;
	height: 110px;
}
.username p{
  padding: 15px;
}
.username{
	gap:30px;
  float: right;
  text-align: right;
	place-items: center;
	background-color:white;
   }

  .username input[type="text"]{
   background-color:#fff; 
    color:grey;
    }

.logo{
	width:110px;
	height:110px;
}
.homeheading{
	display: flex;
	gap:30px;
  text-align: left;
	place-items: center;
	background-color:white;
   }
  .homeheading input[type="text"]{
    position:relative;
    float: inline-end;
    background-color:#fff; 
    color:grey;
    }
H1{
	color:#ff8000;
	font-size: 30px;
} 

.searchform {
  position: relative;
  width: 400px;
  margin: auto;
  left: 150px;
}

input {
  padding: 4px 10px;
  border: 0;
  font-size: 16px;
}

.search {
  width: 100%;
}

.submit {
  width: 90px;
  background-color: #1c87c9;
  color: #ffffff;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 45%; 
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
 
  #list{ 
    font-size:  1.5em; 
    margin-left: 90px; 
   } 
ul{
	display: flex;
	list-style-type: none;
	gap: 10px;
	background-color: #808080;
	padding: 10px 10px;
}
li{
	float: left;
}
li a{
	display: flex;
	text-decoration: none;
	color:black ;
	padding: 10px 10px;
}
lastmanuchild 
{
  float:left;
}
  body {font-family: Arial, Helvetica, sans-serif;}
  
input[type=text], input[type=password] 
  {
   width: 300px;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   }
/* slide show codes */
  
  body {
      margin: 5;
      padding: 0;
      font-family: Arial, sans-serif;
    background-color: whitesmoke;
    }
  
  
    #slidshw-ctr {
      max-width: 800px;
      position: relative;
      margin: auto;
    }
  
    .slide {
      display: none;
      position: absolute;
      width: 100%;
      height: 400px;
    }
  
  
  #slidshw-ctr img {
      width: 100%;
      height: 100%;
    }
  
    .imagecontainer{
    width: 100%;
    }
  
    .swiper {
    width: 1300px;
    height: 500px;
    }

  .swiper img{
    width: 100%;
    height: 600px;
  }
    .swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
  }

  .swiper-pagination-bullet-active{
     Opacity:1;
     Background-color: green;
     Width:3rem;
     Height:0.6rem;
     Border-redious:0.5rem;
     }
  
 .swiper .swiper-button-prev, 
.swiper .swiper-button-next{
color: rgb(255, 0, 21);
}
.swiper .swiper-scrollbar{
  color: rgb(132, 0, 255);
}

/*registration form*/
.border-box
  {
   width: 600px;
   height: 610px;
   padding: 10px;
   border: 2px solid gray;
   border-color: black;
   COLOR: black;
   } 
   
   button { 
    padding: 15px; 
    border-radius: 10px; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    border: none; 
    color: white; 
    cursor: pointer; 
    background-color: #4CAF50; 
    font-size: 16px; 
} 
  
.wrap { 
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

@media screen and {
  max-width: 500px;
  li a{
    font-size: 10px;
  }

}


